@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100&display=swap');
body {
    background-image: url(./img/background.png);
    background-size: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover;
}


p {
     text-indent: 10px;
     margin-left: 20px;
     color: rgb(0, 255, 0);
     font-size: 20px;
}
form {
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    /* border: 2px #fff solid; */
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    
}
button {  
    margin: 10px 0 10px 0;
    background-color: rgb(0, 0, 0);
    font-size: 36px;
    color:rgb(0, 255, 51);
    margin-left: 20px;
}
input {
    margin: -10px 0 0 0;
    width: 320px;
    height: 30px;
    margin-left: 30px;
}
li {
    list-style-type: none;
    margin-right: -5px;
    padding: 3px;
    text-align: center;
    display:inline-block;
    
}
a {
    font-size: 20px;
    margin-left: 130px;
    color: rgb(31, 255, 1);
    font-size: 30px;
    text-decoration: none;
} 
h2{
    margin-left: 70px;
    color: rgb(0, 255, 0);
}
nav {
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    margin-top: -15px;
}
.menu_inner {
    display: flex;
    justify-content: space-around;
}
.zabsl {
    color: rgb(4, 252, 4);
    margin-left: 125px;
    font-size: 20px;
}
