@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100&display=swap');
body {
    background-image: url(./img/Dayz2.jpeg);
    background-size: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover;
    margin: 0;
    

}

.content { width: 870px;
    margin: 0 auto;
    height: 970px;
}

.container {    backdrop-filter: blur(5px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    /* border: 2px #fff solid; */
    
    width: 820px;
    margin: 0 auto;
    height: 870px;
}

.card_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.card_item {
    background-color: #fff;
    width: 380px;
    height: 214px;
    margin: 15px;
}

h1 {
    color: rgb(0, 17, 255);
    margin-left: 210px;
}

h2 {
    color: rgb(8, 0, 255);
    margin-left: 300px;
}


li {
    list-style-type: none;
    margin-right: -5px;
    padding: 3px;
    text-align: center;
    display:inline-block;
    
}
a {
    color: rgb(0, 255, 0); 
    text-decoration: none;
    display: block;
    font-size: 30px;
}
nav {
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    margin-top: -15px;
}
.menu_inner {
    display: flex;
    justify-content: space-around;
}

button {  
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color:rgb(0, 255, 51);
    margin-left: 90px;   
}

img {
    width: 380px;
    height: 214px;
}