@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100&display=swap');
body {
    background-image: url(./img/Dayz2.jpeg);
    background-size: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover;
    background-attachment: fixed
}
p {
     margin-left: 20px;
     color: rgb(5, 1, 255);
     font-size: 25px;
}
form {
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    /* border: 2px #fff solid; */
    width: 400px;
    height: 530px;
    margin: 0 auto;
    margin-top: 50px;
}
button {  
    margin: 10px 0 10px 0;
    background-color: rgb(26, 255, 0);
    font-size: 36px;
    color: rgb(22, 1, 255);
    margin-left: 90px;
}
input {
    margin: -10px 0 0 0;
    width: 320px;
    height: 30px;
    margin-left: 30px;
}
h2{
    margin-left: 70px;
    color: rgb(22, 1, 255);
}

