@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100&display=swap');
body {
    background-image: url(./img/Dayz5.jpg);
    background-size: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover;
    margin: 0;
    background-attachment: fixed
}


h2 {
    color: rgb(22, 1, 255);
    font-size: 40px;
    text-align: center;
}
h3 {
    color: rgb(252, 21, 0);
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.news {
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgb(245, 5, 5) inset;
    /* border: 2px #fff solid; */
    width: 600px;
    height: 600px;
}
.news a {
    color: rgb(14, 255, 1); 
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    border: 2px rgb(0, 217, 255) solid;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
}
.ch {
    margin-left: 20px;
    color: rgb(0, 255, 0);
    font-size: 20px;
    text-align: center;
}
.chat {
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgb(0, 4, 255) inset;
    /* border: 2px #fff solid; */
    width: 400px;
    height: 600px;
}
.chat input {
    margin-top: 495px;
    width: 380px;
    margin-left: 5px;
}
button {
    background-color: rgb(0, 255, 0);
    color: rgb(22, 1, 255);
    position: relative;
    bottom: 10px;
    width: 100px;
    height: 25px;
    margin-left: 290px;
    
}





